#result{
  display: none;
  background-color: whitesmoke;
  border: 1px solid #adb5bd;
  width: 90%;
  text-align: center;
  border-radius: 20px; /* 직각 -> 둥근 직사각형 형태롤 변환 */
}

.resultDesc{
  font-size: 18px;
}

.resultName{
  font-size: 22px;
}

.kakao{
  color: rgb(92, 84, 16);
  background-color: #fee500;
  font-size: 20px;
  border: 0px;
  border-radius: 20px;
}

.kakao:hover, .kakao:focus {
  background-color: rgb(92, 84, 16);
  color: #fee500;
}
